@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
#menu{
  background-image: url("images/Menu.png");
  background-position: center;
  background-size: 600px 600px;
  background-repeat: no-repeat;
  height: 550px;
  width: 320px;
}

#menu_head{
  padding: 1%;
  margin: 3% 0.5% 0% 0.5%;
  width: 240px;
  border: 3px solid #080808;
  font-size: 140%;
  background:linear-gradient(top, #129799 0%, #626262 100%);
  background:-webkit-linear-gradient(top, #129799 0%, #626262 100%);
}

#level_1, #level_2, #level_3, #level_4, #level_5, #zufall{
  color: white;
  padding: 1%;
  margin: 0.5%;
  width: 240px;
  border: 3px solid #080808;
  font-size: 140%;
  background:linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background:-webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
}

#gameTable{
  border-collapse: collapse;
}

tbody {
  border: 3px solid black;

  /*width: 288px;
  height: 561px;*/
}
th {
  background:linear-gradient(top, #129799 0%, #626262 100%);
  background:-webkit-linear-gradient(top, #129799 0%, #626262 100%);
  border-bottom: 3px solid black;
  height: 29px;
}
td{
  border: 1px solid black;
  width: 29px;
  height: 29px;;
}
#back{
  border-left: 3px solid black;
  width: 29px;
  height: 29px;
}

td:hover{
  background: orange;
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  background-repeat: no-repeat;
}
/*
@media screen and (max-width:301px){
  #gameTable{
    width:100vw;
  }
  /* td{
     width: 11%;
   }
}
@media screen and (max-height:531px){
  #gameTable{
    height:100vw;
  }
  /* th{
     height: 6%;
   }
   td{
     height: 6%;
   }
}*/

/* pictures for the tiles */

.back {
  background-image: url("images/back.png");
}

.water {
  background-image: url("images/wasser.png");
}

.water_miss {
  background-image: url("images/wasser_getroffen_weiss.png");
}

.fog {
  background-image: url("images/nebel.png");
}

.fog_miss {
  background_image : url("images/wasser.png");  /*which picture to use here?*/
}

.ship_vertical_front {
  background-image: url("images/schiff_vorne_vertikal.png");
}

.ship_vertical {
  background-image: url("images/schiff_mitte_vertikal.png");
}

.ship_vertical_back {
  background-image: url("images/schiff_hinten_vertikal.png");
}

.ship_horizontal_front {
  background-image: url("images/schiff_getroffen_vorne_horizontal.png");
}

.ship_horizontal {
  background-image: url("images/schiff_mitte_horizontal.png");
}

.ship_horizontal_back {
  background-image: url("images/schiff_mitte_vertikal.png");
}
/*--------------------------------------------------------------*/
.ship_vertical_front_hit {
  background-image: url("images/schiff_getroffen_vorne_vertikal.png");
}

.ship_vertical_hit {
  background-image: url("images/schiff_getroffen_mitte_vertikal.png");
}

.ship_vertical_back_hit {
  background-image: url("images/schiff_getroffen_hinten_vertikal.png");
}

.ship_horizontal_front_hit {
  background-image: url("images/schiff_getroffen_vorne_horizontal.png");
}

.ship_horizontal_hit {
  background-image: url("images/schiff_getroffen_mitte_horizontal.png");
}

.ship_horizontal_back_hit {
  background-image: url("images/schiff_getroffen_mitte_vertikal.png");
}
