@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    /*width: 100%;
    height: 100%;*/
    font-family: 'Roboto', sans-serif;
}

* {
    font-family: Roboto, Helvetica, Arial, sans-serif;
    background-repeat: no-repeat;
}

/* Menu */

#menu {
    background-image: url("images/Menu.png");
    background-position: center;
    background-size: 600px 600px;
    background-repeat: no-repeat;
    height: 750px;
    width: 450px;
}

#menu_head {
    padding: 1%;
    margin: 3% 15% 0% 15%;
    width: 70%;
    font-size: 140%;
    border: 3px solid #080808;
    background: linear-gradient(top, #129799 0%, #626262 100%);
    background: -webkit-linear-gradient(top, #129799 0%, #626262 100%);
}

#level_1, #level_2, #level_3, #level_4, #level_5, #zufall {
    color: white;
    padding: 1%;
    margin: 0.5%;
    width: 240px;
    border: 3px solid #080808;
    font-size: 140%;
    background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
}


/* Game Table */


#gameTable {
    border-collapse: collapse;
    margin: auto;
    background-color: #626262;
}

th {
    background: linear-gradient(top, #129799 0%, #626262 100%);
    background: -webkit-linear-gradient(top, #129799 0%, #626262 100%);
    height: 29px;
    border: 1px solid black;
}

td {

    width: 29px;
    height: 29px;
    border: 1px solid black;
    background-repeat: no-repeat;
}

#back {
    width: 29px;
    height: 29px;
    background-repeat: no-repeat;
}

/* Gameover */


#gameover {
    background-image: url("images/Menu.png");
    background-position: center;
    background-size: 600px 600px;
    background-repeat: no-repeat;
    height: 750px;
    width: 450px;
}
#gameover_head {
    text-align: center;
    padding: 1%;
    margin: 3% 15% 0% 15%;
    width: 70%;
    font-size: 140%;
    border: 3px solid #080808;
    background: linear-gradient(top, #129799 0%, #626262 100%);
    background: -webkit-linear-gradient(top, #129799 0%, #626262 100%);
}
#gameoverText {
    text-align: center;
    padding: 1%;
    margin: 3% 15% 0% 15%;
    width: 70%;
    font-size: 140%;
}

#menuGameover, #nextGameover {
    color: white;
    padding: 1%;
    margin: 3% 15% 0% 15%;
    width: 70%;
    border: 3px solid #080808;
    font-size: 140%;
    background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
    background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
}


/*
@media screen and (max-width:450px){
    body{
        height: 100%;
    }
  #gameTable{
    border-collapse: collapse;
    background-repeat: no-repeat;
  }
    #menu{
        background-image: url("images/Menu.png");
        background-position: center;
        background-size: 600px 600px;
        background-repeat: no-repeat;
        width: 100%;
        padding-bottom: 30%;
        border: 3px solid black;
    }

  /* td{
     width: 11%;
   }
}*/


/* Smartphone */


@media screen and (max-height: 750px) {
    body, html {
        height: 100%;
        width: 100%;
        margin: 0;
    }

    /* Menu */

    #menu {
        background-image: url("images/Menu.png");
        background-position: bottom;
        background-size: 600px 600px;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }

    #menu_head {
        padding: 1%;
        margin: 3% 15% 0% 15%;
        width: 70%;
        border: 3px solid #080808;
        font-size: 140%;
        background: linear-gradient(top, #129799 0%, #626262 100%);
        background: -webkit-linear-gradient(top, #129799 0%, #626262 100%);
    }

    #level_1, #level_2, #level_3, #level_4, #level_5, #zufall {
        color: white;
        padding: 1%;
        margin: 0.5% 20% 0.5% 20%;
        width: 60%;
        border: 3px solid #080808;
        font-size: 140%;
        background: linear-gradient(top, #3c3c3c 0%, #222222 100%);
        background: -webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
    }


    /* Game Table */

    #gameTable {
        border-collapse: collapse;
        background-repeat: no-repeat;
        margin: auto;
        background-color: #626262;
    }

    th {
        background: linear-gradient(top, #129799 0%, #626262 100%);
        background: -webkit-linear-gradient(top, #129799 0%, #626262 100%);
        border: 1px solid black;
        height: 29px;
    }

    td {
        width: 29px;
        height: 29px;
        background-repeat: no-repeat;
    }

    #back {
        width: 29px;
        height: 29px;
        background-repeat: no-repeat;
    }

    /* Gameover */


    #gameover {
        background-image: url("images/Menu.png");
        background-position: center bottom;
        background-size: 600px 600px;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
    }
}





/* pictures for the tiles */


.shipbuilder_north {
    background-image: url("images/up.png");
}

.shipbuilder_east {
    background-image: url("images/right.png");
}

.shipbuilder_south {
    background-image: url("images/down.png");
}

.shipbuilder_west {
    background-image: url("images/left.png");
}

.shipbuilder_center {
    background-image: url("images/ship_start.png");
}

.back {
    background-image: url("images/back.png");
}

.water {
    background-image: url("images/wasser.png");
}

.water_miss {
    background-image: url("images/wasser_getroffen_weiss.png");
}

.fog {
    background-image: url("images/nebel.png");
}

.fog_miss {
    background-image: url("images/nebel_getroffen_weiss.png");
}

.fog_hit {
    background-image: url("images/nebel_getroffen_rot.png");
}

.ship_vertical_front {
    background-image: url("images/schiff_vorne_vertikal.png");
}

.ship_vertical {
    background-image: url("images/schiff_mitte_vertikal.png");
}

.ship_vertical_back {
    background-image: url("images/schiff_hinten_vertikal.png");
}

.ship_horizontal_front {
    background-image: url("images/schiff_vorne_horizontal.png");
}

.ship_horizontal {
    background-image: url("images/schiff_mitte_horizontal.png");
}

.ship_horizontal_back {
    background-image: url("images/schiff_hinten_horizontal.png");
}

.ship_vertical_front_hit {
    background-image: url("images/schiff_getroffen_vorne_vertikal.png");
}

.ship_vertical_hit {
    background-image: url("images/schiff_getroffen_mitte_vertikal.png");
}

.ship_vertical_back_hit {
    background-image: url("images/schiff_getroffen_hinten_vertikal.png");
}

.ship_horizontal_front_hit {
    background-image: url("images/schiff_getroffen_vorne_horizontal.png");
}

.ship_horizontal_hit {
    background-image: url("images/schiff_getroffen_mitte_horizontal.png");
}

.ship_horizontal_back_hit {
    background-image: url("images/schiff_getroffen_hinten_horizontal.png");
}
