@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}
#menu{
  background-image: url("images/Menu.png");
  background-position: center;
  background-size: 600px 600px;
  background-repeat: no-repeat;
  height: 561px;
  width: 320px;
  border: 1px solid black;
}

#menu_head{
  padding: 1%;
  font-size: 20px;
}

#level_1, #level_2, #level_3, #level_4, #level_5, #zufall{
  color: white;
  padding: 1%;
  margin: 0.5%;
  width: 240px;
  border: 3px solid #080808;
  font-size: 140%;
  background:linear-gradient(top, #3c3c3c 0%, #222222 100%);
  background:-webkit-linear-gradient(top, #3c3c3c 0%, #222222 100%);
}







#gameTable {
  border: 3px solid black;
  border-collapse: collapse;
 /* width: 288px;
  height: 561px;*/
}
th {
  border-bottom: 3px solid black;
  height: 29px;
}
td{
  border: 1px solid black;
  width: 29px;
  height: 29px;
  table-layout: fixed;
}
#back{
  border-left: 3px solid black;
  width: 29px;
  height: 29px;
}

td:hover{
  background: orange;
}

.player {
  background-image: url("images/wasser.png");

}

.Gegner {
  background-image: url("images/nebel.png");
}

* {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}

@media screen and (max-width:301px){
  #T1{
    width:100vw;
  }
  /* td{
     width: 11%;
   }*/
}
@media screen and (max-height:531px){
  #T1{
    height:100vw;
  }
  /* th{
     height: 6%;
   }
   td{
     height: 6%;
   }*/
}